services:
    nginx:
        build:
            context: ./docker/config/nginx
            args:
                SSL_CERT_PUBLIC: ${SSL_CERT_PUBLIC}
                SSL_CERT_PRIVATE: ${SSL_CERT_PRIVATE}
                PROJECT_USER_ID: ${PROJECT_USER_ID}
                PROJECT_GROUP_ID: ${PROJECT_GROUP_ID}
        container_name: ${COMPOSE_PROJECT_NAME}-nginx
        hostname: ${COMPOSE_PROJECT_NAME}-nginx
        env_file: .env
        volumes:
            - ./docker/config/nginx/templates:/etc/nginx/templates:delegated
            - ./:/var/www/:delegated
            - ./docker/var:/var/project:cached
        ports:
            - '${PROJECT_IP}:${PROJECT_SECURE_PORT}:443'
            - '${PROJECT_IP}:${PROJECT_UNSECURE_PORT}:80'
        restart: unless-stopped
