services:
    mysql:
        image: mariadb:${MARIADB_VERSION}
        container_name: ${COMPOSE_PROJECT_NAME}-mysql
        hostname: ${COMPOSE_PROJECT_NAME}-mysql
        volumes:
            - ./docker/data/mysql:/var/lib/mysql:cached
        env_file: .env
        restart: unless-stopped
